<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor List</title>
</head>
<body>
    <h1>Doctor List</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! (<a href="{% url 'patient_logout' %}">Logout</a>)</p>
    {% else %}
        <p><a href="{% url 'patient_login' %}">Login</a></p>
    {% endif %}
    <ul>
        {% for doctor in doctors %}
        <li><a href="{% url 'doctor_detail' doctor.id %}">{{ doctor }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
